session:
  name: Compare
  chromosome: 10
  timevalues: [48]
  timeunits: hr
datasets:
  0:
    test: left file
    files: 
      - <%= leftfile %>
  1:
    test: right file
    files: 
      - <%= rightfile %>