workDir = "<%= nextflowOutDir %>/work"
params {
    outDir = '<%= projOutdir %>'
    fastqdir = '<%= projIndir %>/fastqs/'
    refix = '<%= refix %>'
    mtDNA = '<%= mtDNA %>'
    genomelist = '<%= genomelist %>'
    chromosomes = <%- JSON.stringify(chromosomes) %>
    partitions = 'fast,tb,gpu'
}

report {
    enabled = true
    file = '<%= nextflowOutDir %>/report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = '<%= nextflowOutDir %>/timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = '<%= nextflowOutDir %>/trace.txt'
    fields = 'name,status,start,complete,duration'
    overwrite = true
}

<%- include (executorConfig) %>